extends layout

block link
  -var active = '/pages'

block content
  h1= title
  table.lead.table.table-striped.table-bordered
    tr
      th ID
      each value, key in page
        th= key
    tr
      td= id
      each value, key in page
        if key === 'uri'
          td
            a(href=page.uri)= page.uri
        else
          td= value
