extends layout

mixin modal(id,title,text,url)
  .modal.fade(id=id, role='dialog', aria-labelledby=id+'Label')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button',data-dismiss='modal')
            span(aria-hidden='true')
              | &times;
            span.sr-only
              | Close
          h4.modal-title(id=id+'Label')= title+' | '
            a(href=url)= 'Wikipedia'
        .modal-body= text

block content
  .row
    include ./includes/search-field.jade
  .row
    .entity-container
      .tiling
        ul.list
          table
          each entity,index in entities
            tr
              td
                .entity(data-toggle='modal',data-target='#entityModal'+index)
                  .entity-content
                    h4= entity.label
                    p= entity.description
                    .entity-img
                      img.entity-img(src=entity.thumbnail, alt=entity.caption)
                +modal('entityModal'+index,entity.label,entity.abstract,entity.wikiUrl)
