extends layout

mixin modal(id,title,text,url)
  .modal.fade(id=id, role='dialog', aria-labelledby=id+'Label')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button',data-dismiss='modal')
            span(aria-hidden='true')
              | &times;
            span.sr-only
              | Close
          h4.modal-title(id=id+'Label')= title+' | '
            a(href=url)= 'Wikipedia'
        .modal-body= text

block content
  .row
    include ./includes/search-field.jade
  .row
    table.entity-container
      each entity,index in entities
        tr.entity(data-toggle='modal',data-target='#entityModal'+index)
          td.entity-img
              img(src=entity.thumbnail, alt=entity.caption)
          td.entity-content
            h4= entity.label
            p= entity.description
        +modal('entityModal'+index,entity.label,entity.abstract,entity.wikiUrl)
